<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.meeting.mapper.MeetingActivitySectorMapper">
    
    <resultMap type="MeetingActivitySector" id="MeetingActivitySectorResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="url" column="url" />
        <result property="description"    column="description"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMeetingActivitySectorVo">
        select id, title, url, description, del_flag, create_by, create_time, update_by, update_time, remark from meeting_activity_sector
    </sql>

    <select id="selectMeetingActivitySectorList" parameterType="MeetingActivitySector" resultMap="MeetingActivitySectorResult">
        <include refid="selectMeetingActivitySectorVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like "%"#{title}"%"</if>
        </where>
    </select>
    
    <select id="selectMeetingActivitySectorById" parameterType="Long" resultMap="MeetingActivitySectorResult">
        <include refid="selectMeetingActivitySectorVo"/>
        where id = #{id}
    </select>

    <insert id="insertMeetingActivitySector" parameterType="MeetingActivitySector" useGeneratedKeys="true" keyProperty="id">
        insert into meeting_activity_sector
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMeetingActivitySector" parameterType="MeetingActivitySector">
        update meeting_activity_sector
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMeetingActivitySectorById" parameterType="Long">
        delete from meeting_activity_sector where id = #{id}
    </delete>

    <delete id="deleteMeetingActivitySectorByIds" parameterType="String">
        delete from meeting_activity_sector where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>