<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.meeting.mapper.MeetingGeoMapper">
    
    <resultMap type="MeetingGeo" id="MeetingGeoResult">
        <result property="id"    column="id"    />
        <result property="country"    column="country"    />
        <result property="formattedAddress"    column="formatted_address"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="citycode"    column="citycode"    />
        <result property="district"    column="district"    />
        <result property="street"    column="street"    />
        <result property="number"    column="number"    />
        <result property="adcode"    column="adcode"    />
        <result property="location"    column="location"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMeetingGeoVo">
        select id, country, formatted_address, province, city, citycode, district, street, number, adcode, location, del_flag, create_by, create_time, update_by, update_time from meeting_geo
    </sql>

    <select id="selectMeetingGeoList" parameterType="MeetingGeo" resultMap="MeetingGeoResult">
        <include refid="selectMeetingGeoVo"/>
        <where>  
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="formattedAddress != null  and formattedAddress != ''"> and formatted_address = #{formattedAddress}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="citycode != null  and citycode != ''"> and citycode = #{citycode}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="street != null  and street != ''"> and street = #{street}</if>
            <if test="number != null  and number != ''"> and number = #{number}</if>
            <if test="adcode != null  and adcode != ''"> and adcode = #{adcode}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
        </where>
    </select>
    
    <select id="selectMeetingGeoById" parameterType="Long" resultMap="MeetingGeoResult">
        <include refid="selectMeetingGeoVo"/>
        where id = #{id}
    </select>

    <insert id="insertMeetingGeo" parameterType="MeetingGeo" useGeneratedKeys="true" keyProperty="id">
        insert into meeting_geo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="country != null and country != ''">country,</if>
            <if test="formattedAddress != null and formattedAddress != ''">formatted_address,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="citycode != null">citycode,</if>
            <if test="district != null">district,</if>
            <if test="street != null">street,</if>
            <if test="number != null">number,</if>
            <if test="adcode != null">adcode,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="country != null and country != ''">#{country},</if>
            <if test="formattedAddress != null and formattedAddress != ''">#{formattedAddress},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="citycode != null">#{citycode},</if>
            <if test="district != null">#{district},</if>
            <if test="street != null">#{street},</if>
            <if test="number != null">#{number},</if>
            <if test="adcode != null">#{adcode},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMeetingGeo" parameterType="MeetingGeo">
        update meeting_geo
        <trim prefix="SET" suffixOverrides=",">
            <if test="country != null and country != ''">country = #{country},</if>
            <if test="formattedAddress != null and formattedAddress != ''">formatted_address = #{formattedAddress},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="citycode != null">citycode = #{citycode},</if>
            <if test="district != null">district = #{district},</if>
            <if test="street != null">street = #{street},</if>
            <if test="number != null">number = #{number},</if>
            <if test="adcode != null">adcode = #{adcode},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMeetingGeoById" parameterType="Long">
        delete from meeting_geo where id = #{id}
    </delete>

    <delete id="deleteMeetingGeoByIds" parameterType="String">
        delete from meeting_geo where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>