<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cos.mapper.ImageMapper">
    
    <resultMap type="Image" id="ImageResult">
        <result property="id"    column="id"    />
        <result property="url"    column="url"    />
        <result property="type"    column="type"    />
        <result property="extend"    column="extend"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectImageVo">
        select id, url, type, extend, del_flag, create_by, create_time, update_by, update_time, remark from image
    </sql>

    <select id="selectImageList" parameterType="Image" resultMap="ImageResult">
        <include refid="selectImageVo"/>
        <where>  
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="extend != null  and extend != ''"> and extend = #{extend}</if>
        </where>
    </select>
    
    <select id="selectImageById" parameterType="String" resultMap="ImageResult">
        <include refid="selectImageVo"/>
        where id = #{id}
    </select>

    <insert id="insertImage" parameterType="Image">
        insert into image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="extend != null and extend != ''">extend,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="extend != null and extend != ''">#{extend},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateImage" parameterType="Image">
        update image
        <trim prefix="SET" suffixOverrides=",">
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="extend != null and extend != ''">extend = #{extend},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImageById" parameterType="String">
        delete from image where id = #{id}
    </delete>

    <delete id="deleteImageByIds" parameterType="String">
        delete from image where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>